
@{
    ViewData["Title"] = "Activity";
}

<h1>運動</h1>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">Player 1</div>
        <div class="col-6">Player 2</div>
    </div>
    <div class="row">
        <div class="col-6">次數:<span id="player1">0</span></div>
        <div class="col-6">次數:<span id="player2">0</span></div>
    </div>
    <div class="row">
        <div class="col-6"><img id="image1" src="~/walk.gif" /></div>
        <div class="col-6"><img id="image2" src="~/walk.gif" /></div>
    </div>
    <div class="row">&nbsp;</div>
</div>
<script src="~/lib/@@microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/activity.js"></script>

