
@{
    ViewData["Title"] = "Activity";
}

<h1>運動</h1>

<div class="container player-result">
  
</div>
<script src="~/lib/@@microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/activity.js"></script>

